<%= form_for ["workflow", @work_item], html: {class: 'form-horizontal', role: 'form'} do |f| %>
  <% if @work_item.errors.any? %>
    <div class="alert alert-danger" data-alert><p><%= t('workflow.work_categories.form.error') %></p></div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if @work_item.errors[:action].present?}" do %>
    <%= f.label :action, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :action, class: 'form-control' %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if @work_item.errors[:display].present?}" do %>
    <%= f.label :display, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :display, class: 'form-control' %>
    </div>
  <% end %>

  <%= f.hidden_field :work_category_id, value: @work_item.work_category_id %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "提交", class: "btn btn-primary" %>
      <%= link_to "取消", ["workflow", @work_item.work_category], :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
