<%= form_for ["workflow", work_category], html: {class: 'form-horizontal', role: 'form'} do |f| %>
  <% if work_category.errors.any? %>
    <div class="alert alert-danger" data-alert><p><%= t('workflow.work_categories.form.error') %></p></div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if work_category.errors[:name].present?}" do %>
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if work_category.errors[:column_name].present?}" do %>
    <%= f.label :column_name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :column_name, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "提交", class: "btn btn-primary" %>
      <%= link_to "取消", workflow_work_categories_path, :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
