<%= form_for ["workflow", @work_event], html: {class: 'form-horizontal', role: 'form'} do |f| %>
  <% if @work_event.errors.any? %>
    <div class="alert alert-danger" data-alert><p><%= t('workflow.work_events.form.error') %></p></div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if @work_event.errors[:event_name].present?}" do %>
    <%= f.label :event_name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :event_name, class: 'form-control' %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if @work_event.errors[:from].present?}" do %>
    <%= f.label :from, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :from, class: 'form-control' %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if @work_event.errors[:to].present?}" do %>
    <%= f.label :to, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :to, @work_event.work_category.work_items.map{|event| [event.action, event.action]}, class: 'form-control' %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if @work_event.errors[:on_transitions].present?}" do %>
    <%= f.label :on_transitions, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :on_transitions, class: 'form-control' %>
    </div>
  <% end %>

  <%= f.hidden_field :work_category_id, value: @work_event.work_category_id %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "提交", class: "btn btn-primary" %>
      <%= link_to "取消", ["workflow", @work_event.work_category], :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
